#table_div {
  margin: 0px auto;
}

td {
  border: 1px solid black;
  width: 200px;
  height: 100px;
}

@font-face{
  font-family: 'BINGO';
  src: url('../src/BINGO.ttf') format('truetype');
}

th {
  font-size: 32px;
  font-family: 'BINGO';
}

table {
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
